<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Turno</title>
</head>

<body>

    <%- include('./partials/header'); %>

        <div class="row">

            Se le ha dado el turno # <%= inning.inning %>
            <%= inning.document %>,
            <%= inning.inning %>,
            <%= inning.fk_dependency %>,
            <%= inning.fk_category %>,


        </div>

        <%- include('./partials/footer'); %>
</body>

</html>