<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
        <title>Turnos</title>
</head>

<body>

    <%- include('./partials/header'); %>
        <table class="table table-striped table-bordered table-lg" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col">Documento</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Dependencia</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Desactivar</th>
                </tr>
            </thead>
            <tbody>

                <% for(let inning of innings) { %>
                    <tr>
                        <th scope="row" align="center" valign="middle">
                            <%= inning.document %>
                        </th>
                        <td align="center" valign="middle">
                            <%= inning.inning %>
                        </td>
                        <td align="center" valign="middle">
                            <%= inning.fk_dependency %>
                        </td>
                        
                        <td align="center" valign="middle">
                            <%= inning.fk_category %>
                        </td>
                        
                        <td align="center" valign="middle"> <a href="/innings/deactivate/<%= inning.id_inning %>"
                                class="btn btn-danger"
                                style="display: flex;align-items: center;justify-content: center;"><span
                                    class="material-icons">delete_forever</span></a></td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        </section>

        <%- include('./partials/footer'); %>

</body>

</html>